python doc : https://docs.python.org/3/tutorial/introduction.html?highlight=list%20slice

# 1. 리스트와 관련된 문제입니다. 각각의 출력이 나오도록 빈칸을 채우세요

In [20]:
fruits = ["apple", "banana", "tomato", "Watermelon", "melon", "orange"]

리스트 슬라이싱 방법을 사용해서 아래 결과 값이 나오게 하세요

In [22]:
#fruits[:3]
fruits[0:3]

['apple', 'banana', 'tomato']

#### ['apple', 'banana', 'tomato']

In [15]:
#fruits[3:5]
#fruits[3:-1]
fruits[-3:-1]

['Watermelon', 'melon']

#### ['Watermelon', 'melon']

In [48]:
#fruits[3:]
fruits[3:6]

['Watermelon', 'melon', 'orange']

#### ['Watermelon', 'melon', 'orange']

리스트에 mango, lemon 을 추가하세요

In [31]:
# 리스트에 하나씩 추가

fruits.append('mango')
fruits.append('lemon')

print(fruits)

['apple', 'banana', 'tomato', 'Watermelon', 'melon', 'orange', 'mango', 'lemon']

In [24]:
# 리스트를 연결하여 확장

fruits.extend(['mango', 'lemon'])

print(fruits)

['apple', 'banana', 'tomato', 'Watermelon', 'melon', 'orange', 'mango', 'lemon']

In [4]:
# 특정 인덱스에 요소 추가

fruits.insert(6, 'mango')
fruits.insert(7, 'lemon')

print(fruits)

['apple', 'banana', 'tomato', 'Watermelon', 'melon', 'orange', 'mango', 'lemon']

In [32]:
print (fruits)

['apple', 'banana', 'tomato', 'Watermelon', 'melon', 'orange', 'mango', 'lemon']

리스트에서 banana와 watermelon을 제거하세요

In [16]:
# remove를 이용한 원소 삭제

fruits.remove('banana')
fruits.remove('Watermelon')

In [18]:
print (fruits)

['apple', 'tomato', 'melon', 'orange']

In [11]:
# del을 이용한 삭제

del fruits[3]
del fruits[1]

In [17]:
print (fruits)

['apple', 'tomato', 'melon', 'orange']

# 2. 아래 값들을 가지는 과일 가격을 딕셔너리를 구성하세요.
 apple : 1000, banana : 1200, tomato : 700, watermelon : 2000, orange : 1500

In [36]:
fruits_dic = {'apple' : 1000, 'banana' : 1200, 'tomato' : 700, 'watermelon' : 2000, 'orange' : 1500}

print(fruits_dic)

{'apple': 1000, 'banana': 1200, 'tomato': 700, 'watermelon': 2000, 'orange': 1500}

In [37]:
print (fruits_dic)

{'apple': 1000, 'banana': 1200, 'tomato': 700, 'watermelon': 2000, 'orange': 1500}

tomato의 가격을 출력하세요

In [38]:
print(fruits_dic['tomato'])

700

watermelon의 가격을 3000으로 수정하세요

In [39]:
fruits_dic['watermelon'] = 3000

print(fruits_dic)

{'apple': 1000, 'banana': 1200, 'tomato': 700, 'watermelon': 3000, 'orange': 1500}

In [40]:
print (fruits_dic)

{'apple': 1000, 'banana': 1200, 'tomato': 700, 'watermelon': 3000, 'orange': 1500}

아래의 정보를 딕셔너리에 추가하세요.
 - mango : 4000, lemon : 4200

In [43]:
fruits_dic['mango'] = 4000
fruits_dic['lemon'] = 4200

print(fruits_dic)

{'apple': 1000, 'banana': 1200, 'tomato': 700, 'watermelon': 3000, 'orange': 1500, 'mango': 4000, 'lemon': 4200}

In [44]:
print (fruits_dic)

{'apple': 1000, 'banana': 1200, 'tomato': 700, 'watermelon': 3000, 'orange': 1500, 'mango': 4000, 'lemon': 4200}

# 3. For 문을 사용해서 아래 문양을 만드세요

In [19]:
for i in range(10):
    print(' ' * (10 - i), end='')
    print('*' * ((2 * i) - 1))

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************